* {
  margin: 0;
  font-family: Montserrat, Geneva, Tahoma, sans-serif;
  color: #23736d;
  background-color: #cbe9e7;
}

h1 {
  text-align: center;
  background-color: #62a5a1;
  color: #cbe9e7;
  padding: 1rem;
  text-transform: uppercase;
}

ul {
  padding-top: 1rem;
}

img {
  align-items: center;
  padding-top: 1rem;
  max-width: 500px;
  max-height: 600px;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* unvisited link */
a:link {
  color: #62a5a1;
}

/* visited link */
a:visited {
  color: #000000;
}

/* mouse over link */
a:hover {
  color: #23736d;
}

/* selected link */
a:active {
  color: #000000;
}
