* {
  margin: 0;
  padding: 0.5rem;
  font-family: Montserrat, Geneva, Tahoma, sans-serif;
  color: hsl(176, 53%, 29%);
  background-color: #cbe9e7;
  /*border: 2px solid red;*/
}

h1 {
  text-align: center;
  background-color: #62a5a1;
  color: #cbe9e7;
  padding: 1rem;
  text-transform: uppercase;
}

img {
  align-items: center;
  max-width: 400px;
  max-height: auto;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a:link {
  color: #62a5a1;
}

a:hover {
  color: #23736d;
}

a:active {
  color: #95cac6;
}

div.container {
  text-align: center;
  padding: 1rem;
}

ul.recipe-list {
  padding-bottom: 2rem;
  display: inline-block;
  text-align: center;
  list-style-type: none;
}

.description-container {
  background-color: #62a5a1;
}

h3 {
  font-weight: bold;
  padding-top: 1rem;
  text-decoration: underline;
}

p {
  font-size: 16px;
  font-style: italic;
  padding: 0.5rem;
}

ul,
ol,
li {
  padding-top: 0rem;
  padding-left: 2rem;
}
